package aoc

func init() {
	registerSolution("{{ .Year }}:{{ .Day }}:1", {{ .FuncName }}1)
	registerSolution("{{ .Year }}:{{ .Day }}:2", {{ .FuncName }}2)
}

func {{ .FuncName }}1(input string) string {
	return "wrong"
}

func {{ .FuncName }}2(input string) string {
	return "wrong again"
}
